{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<!-- modal stuff -->

<!-- Ask/answer/view buttons -->

<div class="main-page-logo" style='margin-bottom: 2rem;'>
    <img src="{{ url_for('static', filename='logo.svg') }}" alt="logo" class="mt-3 mb-4 pb-1" />
</div>

<row>
    <div class="cards" style='padding-top: 2rem;'>
        <div class="card">
            <div class="top left">
                <p class="caption">ASK</p>
            </div>
            <!-- <img class="card-img-top" src="images/nC.webp" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">Post a Question</h5>
                <p class="card-text">Ask a question about any course</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#questionModal"></a>
            </div>
        </div>

        <div class="card">
            <div class="top mid">
                <p class="caption">ANSWER</p>
            </div>
            <!-- <img class="card-img-top" src="images/nC.webp" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">Answer a Question</h5>
                <p class="card-text">Help other students out</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#answerModal1"></a>
            </div>
        </div>

        <div class="card">
            <div class="top right">
                <p class="caption">VIEW</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">View All Posts</h5>
                <p class="card-text">See what other students have to say</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#viewModal1"></a>
            </div>
        </div>

        <div class="card">
            <div class="top rating">
                <p class="caption">RATINGS</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Check Professor Ratings</h5>
                <p class="card-text">Based on Rate My Professor ratings</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#ratingsModal1"></a>
            </div>
        </div>
    </div>

    <!-- Question Modal -->
    <div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ask a question about a course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select" id="selectPicker" name="courseTag">
                    <option selected value="base">Course Name</option>
                  </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control" type="text" name="courseNumber" placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="">Enter your question</label>
                            <textarea class="form-control" name="questionMessage" id="" cols="30" rows="5"></textarea>
                        </div>
                        {% if error_text %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> {{ error_text }}
                        </div>{% endif %}
                        <button type="submit" name="formSubmit" value="question" class="askbtn">
              Submit Question
            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer Modal [answer1] -->
    <div class="modal fade" id="answerModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Answer a question about a course
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select" id="selectAns" name="courseTag">
                    <option selected value="base">Course Name</option>
                  </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control" type="text" name="courseNumber" placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        {% if error_text %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> {{ error_text }}
                        </div>{% endif %}

                        <button type="submit" name="formSubmit" value="answer1" class="askbtn">
              Select Course
            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer Modal [answer2] -->
    <div class="modal fade" id="answerModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" style="width: 600px; height: 550px;">
            <div class="modal-content" style='height: 550px'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Answer a question about {{ course_tag }} {{ course_number }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="select-drops">
                        <form action="/" , method="POST">
                            <div class="list-type1">
                                <ol class="questions-b-list">

                                    {% for question in questions %}
                                    <li class="questions-s-list">

                                        <row>
                                            <col-5 style='margin-right: 20px;'>{{ question.id }}</col-5>
                                            <col-5><button type="submit" name="questionSelected" value="{{ question.id }}" class="btn btn-light">
                                                {{ question.question }}    
                                            </button></col-5>

                                        </row>

                                        <hr />
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <input type="hidden" name="formSubmit" value="answer2" />
                        </form>
                        <!-- <select style="display: inline-block; width: 150px" aria-label="Default select example" class="form-select selectPicker" id="selectPicker" name="courseTag">
                                <option selected value="base" name="courseAcronym">
                                    Course Name
                                </option>
                            </select>
                            <div class="dropdown mb-3">
                                <label class="form-label" for=""></label>
                                <input class="form-control" type="text" name="courseNumber" placeholder="Course ID" />
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" name="formSubmit" value="answer1" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#askModal">
                            Submit
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer Modal [answer3] -->
    <div class="modal fade" id="answerModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" style="width: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Answer this question
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        {% if question %} {{ question.course_acronym }} {{ question.course_number }}
                        <br /> "{{ question.question }}"
                        <input type="hidden" name="questionSelected" value="{{ question.id }}" /> {% endif %}
                        <div class="mb-3">
                            <label class="form-label" for="">Answer this question</label>
                            <textarea class="form-control" name="answerMessage" id="text-align" cols="30" rows="15"></textarea>
                        </div>

                        {% if error_text %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> {{ error_text }}
                        </div>{% endif %}

                        <button type="submit" name="formSubmit" value="answer3" class="askbtn">
              Submit Answer
            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View (Questions) Modal [View 1] -->
    <div class="modal fade" id="viewModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        View questions and answers about a course
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select" id="selectView" name="courseTag">
                                            <option selected value="base">Course Name</option>
                                        </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control" type="text" name="courseNumber" placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        {% if error_text %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error!</strong> {{ error_text }}
                        </div>{% endif %}

                        <button type="submit" name="formSubmit" value="view1" class="askbtn">
              Select Course
            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition"></div> -->

    <!-- View (Questions) Modal [View 2] -->
    <div class="modal fade" id="viewModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-view modal-dialog-centered modal-xl modal-dialog-scrollable" style="width: 1500px">
            <div class="modal-content modal-view">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">All questions for {{ course_tag }} {{ course_number }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <ul>
                        {% for question in questions %}

                        <l1>
                            <button class="btn btn-light btnquestions" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <p><strong>► Question: </strong>{{ question.question }}</p>
                            </button> {% for answer in question.answers %}

                            <div class="collapse" id="collapseExample">
                                <div class="question-answer-arrow" id="ans" style='margin-top: 10px'>
                                    <div>→</div>
                                    <div>{{ answer.answer }}</div>
                                </div>
                            </div>
                            {% endfor %}
                            <hr>
                            </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Ratings Modal -->
    <div class="modal fade" id="ratingsModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Check professor's ratings for courses
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select" id="selectRating" name="courseTag">
                    <option selected value="base">Course Name</option>
                  </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control" type="text" name="courseNumber" placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        <button type="submit" name="formSubmit" value="rating1" class="askbtn">
              Check Ratings
            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ratingModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 600px; height: 550px">
            <div class="modal-content" style='height: 600px;'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Check professor's ratings for courses
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <ul>
                        {% for di in profs %}

                        <l1>

                            <p><strong>{{prof_name}}</strong></p>

                            <p>
                                <div><strong>{{ di['Name'] }} </strong>with rating: <strong>{{ di['Rating'] }} </strong>and a number of <strong>{{ di['NumOfRatings'] }}</strong> ratings</div>
                            </p>

                            <div class="question-answer-arrow" id="ans" style='margin-top: 10px'>
                            </div>

                            <hr>
                            </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition"></div>
</row>

<!-- this is terrible (sorry) -->
<div id="showModalDiv" data-bs-name="{{ show_modal }}"></div>

{% endblock %} > >
<button <select <input />
<textarea></textarea>
</div>
<button>
<div

     >
<button

           
           
           
          <select

                   
                   
                   
                  <input

                   
                   
                   />
<button

             
             
             
            
   
   
   
   
   >
<div

     >
<button

           
           
           
          <button

                   
                   
                   
                  
   
   
   
   
   >
<div

     >
<button

           
           
           
          
           <br/>
<input

             
             
/>

      <textarea

               
               
               
               ></textarea>
<button

             
             
             
            
   
   
   
   
   >
<div

     >
<button

           
           
           
          <select

                   
                   
                   >
<input

                   
                   
                   />
<button

             
             
             >

   
   
   
   
   >
<div

     >
<button

           
           
           
          
             
   
   
   
   
   >
<div

     >
<button

           
           
           
          <select

                   
                   
                   
                  <input

                   
                   
                   />
<buttonswerd