{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<!-- Ask/answer/view buttons -->

<section>

    <div class="cards">
        <div class="card">
            <div class="top left">
                <p class="caption">ASK</p>
            </div>
            <!-- <img class="card-img-top" src="images/nC.webp" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">Have a question?</h5>
                <p class="card-text">Ask about a specific subject</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#askModal"></a>
            </div>
        </div>

        <!-- <div class="card">
        <div class="top mid">
          <p class='caption'>ANS</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Help some students</h5>
          <p class="card-text">If you know whats good</p>
          <a type="button"  class="stretched-link" data-bs-toggle="modal" data-bs-target="#answerModal"></a>
        </div>
      </div> -->

        <div class="card">
            <div class="top right">
                <p class="caption">VIEW</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Help some students</h5>
                <p class="card-text">If you know whats good</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#viewModal"></a>
            </div>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-primary btn-block btn-lg" data-bs-toggle="modal" data-bs-target="#askModal">
      Ask
    </button>
    <button type="button" class="btn btn-primary btn-block btn-lg" data-bs-toggle="modal" data-bs-target="#answerModal">
      Answer
    </button>
    <button type="button" class="btn btn-primary btn-block btn-lg" data-bs-toggle="modal" data-bs-target="#viewModal">
      View
    </button> -->

    <!-- Ask Modal -->
    <div class="modal fade" id="askModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ask a question</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="">
                        <div class="select-drops">
                            <select id="selectPicker">
                              <option selected value="base">Please Select</option>
                            </select>
                            <div class="dropdown mb-3">
                                <label class="form-label" for="">Subject</label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="">Message</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer Modal -->
    <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Answer some questions
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="">
                        <div class="select-drops">
                            <div class="dropdown mb-3">
                                <label class="form-label" for="">Tmp</label>
                                <input class="form-control" type="text" />
                            </div>
                            <div class="dropdown mb-3">
                                <label class="form-label" for="">Tmp</label>
                                <input class="form-control" type="text" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="">Tmp message</label>
                            <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- View Modal -->
    <!-- http://jsfiddle.net/mehmetatas/18dpgqpb/2/ -->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-view modal-dialog-centered modal-xl modal-dialog-scrollable" style="width: 1500px">
            <div class="modal-content modal-view">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">All questions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="all-content">
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                        <p>content</p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}
<a></a>
<a></a>





> >
<button <div>
 <input

                     
                     
                     
                       />
<textarea
 
               
               
               
               
              <button
 
           
           
          
   
   
   
   
   >

     
     >
<button
 
           
           
           
          <textarea
 
               
               
               
               ></textarea>
  <button
 
           
           
          
   
   
   
   
   >

     
     >
 <button

           
           
           
           <button