{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<!-- modal stuff -->
{% macro modal_error_messages(modal_name) %}
    {% for err in modal_errors %}
        {% if err.modal == modal_name %}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> {{ err.text }}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro emotion_to_emoji(emotion) %}
    {% if emotion == "Happy" %} 😀
    {% elif emotion == "Angry" %} 😡
    {% elif emotion == "Surprise" %} 😮
    {% elif emotion == "Sad" %} 😰
    {% elif emotion == "Fear" %} 😨
    {% else %} 🙂
    {% endif %}
{% endmacro %}

<!-- Ask/answer/view buttons -->

<div class="main-page-logo" style='margin-bottom: 2rem; width: 20%; height: 20%;'>
    <img src="{{ url_for('static', filename='logo_long.svg') }}" alt="logo" class="mt-1 mb-4 pb-1" />
</div>

<row>
    <div class="cards" style='padding-top: 2rem;'>
        <div class="card">
            <div class="top left">
                <p class="caption">ASK</p>
            </div>
            <!-- <img class="card-img-top" src="images/nC.webp" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">Post a Question</h5>
                <p class="card-text" style='margin-top: 10px;'>Ask a question about any course</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#questionModal"></a>
            </div>
        </div>

        <div class="card">
            <div class="top mid">
                <p class="caption">ANSWER</p>
            </div>
            <!-- <img class="card-img-top" src="images/nC.webp" alt="Card image cap"> -->
            <div class="card-body">
                <h5 class="card-title">Answer a Question</h5>
                <p class="card-text" style='margin-top: 10px;'>Help other students out</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#answerModal1"></a>
            </div>
        </div>

        <div class="card">
            <div class="top right">
                <p class="caption">VIEW</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">View All Posts</h5>
                <p class="card-text" style='margin-top: 10px;'>See what other students have to say</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#viewModal1"></a>
            </div>
        </div>

        <div class="card">
            <div class="top rating">
                <p class="caption">RATINGS</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Professor Ratings</h5>
                <p class="card-text" style='margin-top: 10px;'>Based on Rate My Professor ratings</p>
                <a type="button" class="stretched-link" data-bs-toggle="modal" data-bs-target="#ratingModal1"></a>
            </div>
        </div>
    </div>

    <!-- Question Modal -->
    <div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ask a question about a course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select boxed1" id="selectPicker"
                                        name="courseTag">
                                        <option selected value="base">Course Name</option>
                                    </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control boxed1" type="text" name="courseNumber"
                                        placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="">Enter your question</label>
                            <textarea class="form-control boxed1" name="questionMessage" id="" cols="30" rows="5"></textarea>
                        </div>
                        {{ modal_error_messages('questionModal') }}
                        <button type="submit" name="formSubmit" value="question" class="askbtn">
                            Submit Question
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer Modal [answer1] -->
    <div class="modal fade" id="answerModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Answer a question about a course
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select boxed1" id="selectAns"
                                        name="courseTag">
                                        <option selected value="base">Course Name</option>
                                    </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control boxed1" type="text" name="courseNumber"
                                        placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        {{ modal_error_messages('answerModal1') }}

                        <button type="submit" name="formSubmit" value="answer1" class="askbtn">
                            Select Course
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer Modal [answer2] -->
    <div class="modal fade" id="answerModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable "
            style="width: 600px; height: 550px;">
            <div class="modal-content" style='height: 550px'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Answer a question about {{ course_tag }} {{ course_number }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="select-drops">
                        <form action="/" , method="POST">
                            {{ modal_error_messages('answerModal2') }}
                            <div class="list-type1">
                                <ol class="questions-b-list">
                                    {% for question in questions %}
                                    <li class="questions-s-list">

                                        <button type="submit" name="questionSelected" value="{{ question.id }}"
                                            class="btn btn-lg btn-block btn-light">
                                            <div>
                                                <p style='text-align: left; white-space: pre-line;'>
                                                    {{ question.question }}
                                                </p>
                                            </div>
                                        </button>

                                        <hr />
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <input type="hidden" name="formSubmit" value="answer2" />
                        </form>
                        <!-- <select style="display: inline-block; width: 150px" aria-label="Default select example" class="form-select selectPicker" id="selectPicker" name="courseTag">
                                <option selected value="base" name="courseAcronym">
                                    Course Name
                                </option>
                            </select>
                            <div class="dropdown mb-3">
                                <label class="form-label" for=""></label>
                                <input class="form-control" type="text" name="courseNumber" placeholder="Course ID" />
                            </div>
                        </div>

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" name="formSubmit" value="answer1" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#askModal">
                            Submit
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer Modal [answer3] -->
    <div class="modal fade" id="answerModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" style="width: 600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Answer this question
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        {% if question %} 
                        
                        <p><strong>Course </strong><span class="boxed">{{ question.course_acronym }} {{ question.course_number }}</span></p>
                        <br /> 
                        <p> 
                        <p class="question-inline" style='text-align: left; white-space: pre-line;'><strong>Question</strong> <span class="boxed">{{ question.question }}</span></p>
                        <input type="hidden" name="questionSelected" value="{{ question.id }}" /> {% endif %}
                        <div class="mb-3">
                            <label class="form-label" for="">Answer question</label>
                            <textarea class="form-control boxed1" name="answerMessage" id="text-align" cols="30"
                                rows="15"></textarea>
                        </div>

                        {{ modal_error_messages('answerModal3') }}
                        <button type="submit" name="formSubmit" value="answer3" class="askbtn">
                            Submit Answer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View (Questions) Modal [View 1] -->
    <div class="modal fade" id="viewModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        View questions and answers about a course
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select boxed1" id="selectView"
                                        name="courseTag">
                                        <option selected value="base">Course Name</option>
                                    </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control boxed1" type="text" name="courseNumber"
                                        placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        {{ modal_error_messages('viewModal1') }}

                        <button type="submit" name="formSubmit" value="view1" class="askbtn">
                            Select Course
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View (Questions) Modal [View 2] -->
    <div class="modal fade" id="viewModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-view modal-dialog-centered modal-xl modal-dialog-scrollable"
            style="width: 1500px">
            <div class="modal-content modal-view">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">All questions for {{ course_tag }} {{ course_number
                        }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <ul>
                        {% for question in questions %}
                            <button class="btn btn-light btnquestions" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <p class="question-inline" style="padding: 0; text-align: left; white-space: pre-line;"><strong>► Question: </strong>{{ question.question }}{{ emotion_to_emoji(question.sentiment) }}</p>
                            </button> 
                            
                            <div class="collapse" id="collapseExample">

                                {% for answer in question.answers %}
                                    <div class="question-answer-arrow" id="ans" style='margin-top: 10px'>
                                        <div>→</div>
                                        <div><p style='text-align: left; white-space: pre-wrap;'>{{ answer.answer }}</p></div>
                                        
                                    </div>
                                    {{ emotion_to_emoji(answer.sentiment) }}
                                    RATING: {{ answer.agree }}
                                    <!-- agree/disagree system -->
                                    {% if answer.id in pos_rated_ans_ids %}
                                        <form action="/" method="POST">
                                            <input type="hidden" name="answerSelected" value="{{ answer.id }}">
                                            <button name="formSubmit" class="btn btn-secondary" value="view2">Disagree</button>
                                        </form>
                                    {% else %}
                                        <form action="/" method="POST">
                                            <input type="hidden" name="answerSelected" value="{{ answer.id }}">
                                            <button name="formSubmit" class="btn btn-primary" value="view2">Agree</button>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        <hr>

                        {% endfor %}
                    </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Ratings Modal 1 -->
    <div class="modal fade" id="ratingModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Check professor's ratings for courses
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/" , method="POST">
                        <div class="container questions-cont">
                            <div class="row questions-cont1">
                                <div class="col-7 questions-cont1">
                                    <select aria-label="Default select example" class="form-select boxed1" id="selectRating"
                                        name="courseTag">
                                        <option selected value="base">Course Name</option>
                                    </select>
                                </div>
                                <div class="col-5 questions-cont2">
                                    <input class="form-control boxed1" type="text" name="courseNumber"
                                        placeholder="Course ID" />
                                </div>
                            </div>
                        </div>

                        {{ modal_error_messages('ratingModal1') }}

                        <button type="submit" name="formSubmit" value="rating1" class="askbtn">
                            Check Ratings
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Rating Modal 2 -->
    <div class="modal fade" id="ratingModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width: 600px; height: 550px">
            <div class="modal-content" style='height: 600px;'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Check professor's ratings for courses
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    

                    <ul style='list-style: none'>
                        {% for di in profs %}

                        <li>

                            <p><strong>{{prof_name}}</strong></p>

                            <p>
                            <div><strong class="boxed3">{{ di['Name'] }}</strong> has a rating: <strong class="boxed3">{{ di['Rating'] }}</strong> with
                                <strong class="boxed3">{{ di['NumOfRatings'] }}</strong> total ratings</div>
                            </p>

                            <div class="question-answer-arrow" id="ans" style='margin-top: 10px'>
                            </div>

                            <hr>
                        </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-backdrop" class="modal-backdrop-transparent modal-transition"></div>
</row>

<!-- this is terrible (sorry) -->
<div id="showModalDiv" data-bs-name="{{ show_modal }}"></div>

{% endblock %}