.home-modal-backdrop {
  background-color: red;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.modal-body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.askbtn {
  padding: 15px 40px;
  background: rgb(8, 93, 2);
  background: linear-gradient(
      to bottom right,
      rgb(240, 212, 130),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(233deg, #8ee272, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(to top left, rgb(66, 191, 57), rgba(0, 0, 255, 0) 70.71%);
  border: 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  border-radius: 6px;
  font-weight: bolder;
}

.askbtn::after,
.askbtn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.askbtn::after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.askbtn::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.askbtn:hover {
  padding: 15px 60px 15px 20px;
}

.askbtn:hover::after,
.askbtn:hover::before {
  opacity: 1;
  right: 15px;
}

.list-type1 {
  width: 400px;
  margin: 0 auto;
}

.list-type1 ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font-size: 15px;
  padding: 0;
  margin-bottom: 4em;
}

.list-type1 ol ol {
  margin: 0 0 0 2em;
}

.list-type1 a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  *padding: 0.4em;
  margin: 0.5em 0;
  color: #000;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.list-type1 a:hover {
  background: #d6d4d4;
  text-decoration: none;
}

.list-type1 a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #93c775;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 8px;
  color: #fff;
}

.list-type1 li {
  margin-bottom: 2em;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited {
  background-color: rgba(229, 229, 229, 0.7) !important;
}

.question-answer-arrow {
  margin-left: 2.5rem;
  display: grid;
  grid-template-columns: 0.05fr 3fr;
  grid-gap: 20px;
}

.btnquestions {
  cursor: none;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* .ansParent {
    display: grid;
    grid-template-areas: "left right";
}

.num-left {
    grid-area: left;
}

.q-left {
    grid-area: right;
} */

.main-page-logo {
  position: absolute;
  justify-content: center;
  top: 12%;
  width: 6%;
  height: 6%;
}

@media screen and (max-width: 1190px) {
  .main-page-logo {
    display: none;
  }
}
  