* {
  box-sizing: border-box;
}

.content {
  /* background-color: #edeef6; */
  font-family: sans-serif;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
}

.btns-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown {
  display: inline-block;
}

.modal-dialog-view,
.modal-view {
  /* 80% of window height */
  height: 80%;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;
}

textarea {
  resize: none;
}

.cards {
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: none;
  margin: 1.5rem 1.5rem;
  width: 250px;
  box-shadow: 1px 2px 17px 2px rgba(0, 0, 0, 0.067);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -10px,
      rgba(0, 0, 0, 0.3) 0px 15px 30px -15px; */
  transition: all 0.2s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 5px 17px 4px rgba(0, 0, 0, 0.067);
  border: none;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover {
  color: black;
}

.top.left {
  height: 200px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(217deg, #e7c400, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #4c8213, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #085d02, rgba(0, 0, 255, 0) 70.71%);
  position: relative;
}

.top.mid {
  height: 200px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(
      217deg,
      rgba(115, 227, 111, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(63, 76, 190, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(141, 138, 83, 0.8), rgba(0, 0, 255, 0) 70.71%);
  position: relative;
}

.top.right {
  height: 200px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(270deg, #4c8213, rgba(196, 178, 13, 0) 70.71%),
    linear-gradient(to top left, #4c8213, rgba(209, 182, 28, 0.78) 70.71%),
    linear-gradient(to top, #085d02, rgba(0, 0, 255, 0) 70.71%);
  position: relative;
}

.caption {
  color: rgba(255, 255, 255, 0.286);
  position: absolute;
  bottom: -32px;
  left: 4px;
  font-size: 50px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0;
}

.dropdown {
  margin: 20px;
}

.dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
}
